<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content >
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" style="background-color:#FFFFFF;">
        <ion-header-bar class="bar-stable">
            <div class="title">Tendresse</div>
        </ion-header-bar>
        <ion-content ng-controller="menuCtrl" padding="false" class="side-menu-left has-header">
            <ion-list id="tendresse-null" class=" ">
                <ion-item class="item-icon-left  " id="tendresse-list-item1" ui-sref="tendresse.home" menu-close="">
                    <i class="icon ion-ionic"></i>Home</ion-item>
                <ion-item class="item-icon-left  " id="tendresse-list-item2" ui-sref="tendresse.profile" menu-close="">
                    <i class="icon ion-ionic"></i>Profile</ion-item>
                <ion-item class="item-icon-left  " id="tendresse-list-item3" ng-click="logout()" menu-close="">
                    <i class="icon ion-ionic"></i>Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
